<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.pointer.j2easy.business.cms.mapper.DiscussMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zy.pointer.j2easy.business.cms.entity.Discuss"  extends="common.BaseEntityResultMap">
        <result column="TYPE" property="type" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="COURSE_ID" property="courseId" />
        <result column="USER_ID" property="userId" />
        <result column="DISCUSS_ID" property="discussId" />
        <result column="REPLY_DISCUSS_ID" property="replyDiscussId" />
        <result column="REF_DISCUSS_ID" property="refDiscussId" />

        <!-- EXTRAS -->
        <result column="REPLY_COUNT" property="replyCount"    />
        <result column="COURSE_NAME" property="courseName"      />
        <result column="USER_NAME" property="userName"          />
        <result column="USER_TYPE" property="userType"          />
        <result column="USER_REGIST_TIME" property="userRegistTime"          />

        <!-- DISCUSS_ -->
        <result column="DISCUSS_TITLE" property="discussTitle" />
        <result column="DISCUSS_CONTENT" property="discussContent" />
        <result column="DISCUSS_REPLY_CONTENT" property="discussReplyContent" />
        <result column="DISCUSS_REF_CONTENT" property="discussRefContent" />
    </resultMap>

    <!-- 通用查询结果列  -->
    <sql id="Base_Column_List">
        _ID,
        _CREATE_TIME,
        _UPDATE_TIME,
        _UPDATE_TRACE,
        _DB_STATE,
        TYPE, TITLE, CONTENT, COURSE_ID, USER_ID, DISCUSS_ID, REPLY_DISCUSS_ID, REF_DISCUSS_ID, ANSWER_COUNT
    </sql>

<select id="selectByMapForPage_replies" resultMap="BaseResultMap">
    SELECT tb_cms_course.NAME COURSE_NAME ,
    tb_cms_user.NAME USER_NAME ,
    tb_cms_user.TYPE USER_TYPE ,
    tb_cms_user.REGIST_TIME USER_REGIST_TIME ,
    _DISCUSS.TITLE DISCUSS_TITLE,
    _DISCUSS.CONTENT DISCUSS_CONTENT,
    (SELECT CONTENT FROM tb_cms_discuss where tb_cms_discuss._ID = DISCUSS.REPLY_DISCUSS_ID AND tb_cms_discuss._DB_STATE = 1) DISCUSS_REPLY_CONTENT,
    (SELECT CONTENT FROM tb_cms_discuss where tb_cms_discuss._ID = DISCUSS.REF_DISCUSS_ID AND tb_cms_discuss._DB_STATE = 1) DISCUSS_REF_CONTENT,
    DISCUSS.*
    FROM ( SELECT * FROM tb_cms_discuss where TYPE = 2 AND _DB_STATE = 1 ) DISCUSS
        LEFT JOIN tb_cms_course on DISCUSS.course_id = tb_cms_course._ID
        LEFT JOIN tb_cms_user ON DISCUSS.USER_ID = tb_cms_user.USER_ID
        LEFT JOIN ( SELECT * FROM tb_cms_discuss WHERE tb_cms_discuss._DB_STATE = 1) _DISCUSS ON _DISCUSS._ID = DISCUSS.DISCUSS_ID
    <where>
        <if test="params.courseId != null and '' != params.courseId">AND DISCUSS.COURSE_ID = #{params.courseId}</if>
        <if test="params.discussId != null and '' != params.discussId">AND DISCUSS.DISCUSS_ID = #{params.discussId}</if>
        <if test="params.userId != null and '' != params.userId">AND DISCUSS.USER_ID = #{params.userId}</if>
        <if test="params.userName != null and '' != params.userName">AND tb_cms_user.NAME = #{params.userName}</if>
        <if test="params.discussTitle != null and '' != params.discussTitle">AND _DISCUSS.TITLE LIKE CONCAT('%',#{params.discussTitle},'%')</if>
    </where>
</select>

<select id="selectByMapForPage_extras" resultMap="BaseResultMap">
    SELECT tb_cms_course.NAME COURSE_NAME ,
           tb_cms_user.NAME USER_NAME ,
           tb_cms_user.TYPE USER_TYPE ,
          (SELECT COUNT(1) FROM tb_cms_discuss where tb_cms_discuss.DISCUSS_ID = DISCUSS._ID AND tb_cms_discuss._DB_STATE = 1) REPLY_COUNT,
           DISCUSS.*
    FROM ( SELECT * FROM tb_cms_discuss where _DB_STATE = 1 AND TYPE = #{params.type} ) DISCUSS
             LEFT JOIN tb_cms_course on DISCUSS.course_id = tb_cms_course._ID
             LEFT JOIN tb_cms_user ON DISCUSS.USER_ID = tb_cms_user.USER_ID
      <where>
          <if test="params.courseId != null and '' != params.courseId">AND DISCUSS.COURSE_ID = #{params.courseId}</if>
          <if test="params.userId != null and '' != params.userId">AND DISCUSS.USER_ID = #{params.userId}</if>
          <if test="params.userName != null and '' != params.userName">AND tb_cms_user.NAME = #{params.userName}</if>
          <if test="params.title != null and '' != params.title">AND DISCUSS.TITLE LIKE CONCAT('%',#{params.title},'%')</if>
      </where>
</select>

<select id="selectQuestionById" resultMap="BaseResultMap">
    SELECT tb_cms_course.NAME COURSE_NAME ,
    tb_cms_user.NAME USER_NAME ,
    tb_cms_user.TYPE USER_TYPE ,
    (SELECT COUNT(1) FROM tb_cms_discuss where tb_cms_discuss.DISCUSS_ID = DISCUSS._ID AND tb_cms_discuss._DB_STATE = 1) REPLY_COUNT,
    DISCUSS.*
    FROM ( SELECT * FROM tb_cms_discuss where _DB_STATE = 1 AND TYPE = 1 ) DISCUSS
    LEFT JOIN tb_cms_course on DISCUSS.course_id = tb_cms_course._ID
    LEFT JOIN tb_cms_user ON DISCUSS.USER_ID = tb_cms_user.USER_ID
    WHERE DISCUSS._ID = #{id}
</select>

<select id="selectByMapForPage" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" /> FROM tb_cms_discuss WHERE _DB_STATE = 1
		<if test="params.id != null and '' != params.id">AND _ID = #{params.id}</if>
		<!-- 基础属性条件查询 -->
        <if test="params.type != null and '' != params.type">AND TYPE = #{params.type}</if>
        <if test="params.title != null and '' != params.title">AND TITLE = #{params.title}</if>
        <if test="params.content != null and '' != params.content">AND CONTENT = #{params.content}</if>
        <if test="params.courseId != null and '' != params.courseId">AND COURSE_ID = #{params.courseId}</if>
        <if test="params.userId != null and '' != params.userId">AND USER_ID = #{params.userId}</if>
        <if test="params.discussId != null and '' != params.discussId">AND DISCUSS_ID = #{params.discussId}</if>
        <if test="params.replyDiscussId != null and '' != params.replyDiscussId">AND REPLY_DISCUSS_ID = #{params.replyDiscussId}</if>
        <if test="params.refDiscussId != null and '' != params.refDiscussId">AND REF_DISCUSS_ID = #{params.refDiscussId}</if>
        <if test="params.answerCount != null and '' != params.answerCount">AND ANSWER_COUNT = #{params.answerCount}</if>
         <!-- 关键字模糊查询  -->
        <if test="params.keywords != null and '' != params.keywords">
            OR ( 1 != 1
              OR TITLE LIKE CONCAT('%',#{params.keywords},'%')
              OR CONTENT LIKE CONCAT('%',#{params.keywords},'%')
            )
         </if>
</select>

</mapper>
