<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.pointer.j2easy.business.system.mapper.DictMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zy.pointer.j2easy.business.system.entity.Dict"  extends="common.BaseEntityResultMap">
        <result column="P_ID" property="pId" />
        <result column="NAME" property="name" />
        <result column="TYPE" property="type" />
        <result column="UNIQ" property="uniq" />
        <result column="PATH" property="path" />
        <result column="VAL" property="val" />
    </resultMap>

    <!-- 通用查询结果列  -->
    <sql id="Base_Column_List">
        _ID,
        _CREATE_TIME,
        _UPDATE_TIME,
        _UPDATE_TRACE,
        _DB_STATE,
        P_ID, NAME, TYPE, UNIQ, PATH, VAL
    </sql>

<select id="selectByMapForPage" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" /> FROM tb_system_dict WHERE _DB_STATE = 1
		<if test="params.id != null and '' != params.id">AND _ID = #{params.id}</if>
		<!-- 基础属性条件查询 -->
        <if test="params.pId != null and '' != params.pId">AND P_ID = #{params.pId}</if>
        <if test="params.name != null and '' != params.name">AND NAME = #{params.name}</if>
        <if test="params.type != null and '' != params.type">AND TYPE = #{params.type}</if>
        <if test="params.uniq != null and '' != params.uniq">AND UNIQ = #{params.uniq}</if>
        <if test="params.path != null and '' != params.path">AND PATH = #{params.path}</if>
        <if test="params.val != null and '' != params.val">AND VAL = #{params.val}</if>
         <!-- 关键字模糊查询  -->
        <if test="params.keywords != null and '' != params.keywords">
            OR ( 1 != 1
              OR NAME LIKE CONCAT('%',#{params.keywords},'%')
              OR UNIQ LIKE CONCAT('%',#{params.keywords},'%')
              OR PATH LIKE CONCAT('%',#{params.keywords},'%')
              OR VAL LIKE CONCAT('%',#{params.keywords},'%')
            )
         </if>
</select>

</mapper>
